<router-outlet></router-outlet>
<!--<div class='container'>-->
<!--  <h1 class="headerText">GraphGPT 🔎</h1>-->
<!--  <p class='subheaderText'>Build complex, directed graphs to add structure to your ideas using natural language. Understand the relationships between people, systems, and maybe solve a mystery.</p>-->
<!--  <p class='opensourceText'><a href="https://github.com/varunshenoy/graphgpt">GraphGPT is open-source</a>&nbsp;🎉</p>-->
<!--    <div class='inputContainer'>-->
<!--      <input class="searchBar" placeholder="Describe your graph...">-->
<!--      <input class="apiKeyTextField" type="password" value={apiKey}>-->
<!--      <button class="generateButton" (click)="createGraph()">Generate</button>-->
<!--      <button class="clearButton" (click)="clearState()">Clear</button>-->
<!--&lt;!&ndash;      <button class="generateList" onClick={createList}>Generate OWL</button>&ndash;&gt;-->
<!--    </div>-->
<!--  <div class='graphContainer' >-->
<!--    <div id="cy" style="height: 640px"></div>-->
<!--  </div>-->
<!--  <p class='footer'>Pro tip: don't take a screenshot! You can right-click and save the graph as a .png  📸</p>-->
<!--</div>-->
