<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Prism CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css">
  <!-- Custom CSS -->
</head>
<body>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" id="side_nav">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" id="side">
        <p href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </p>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <p  class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" (click)="updateNum('1')">Generate</span>
            </p>
          </li>
          <li class="nav-item">
            <p class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" (click)="updateNum('2')">Graph</span>
            </p>
          </li>
          <li>
            <p class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline" (click)="updateNum('3')">Enhance</span></p>
          </li>
          <li>
            <p class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline" (click)="updateNum('4')">Metrics</span></p>
          </li>
          <li>
            <p class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline" (click)="updateNum('5')">Sparql</span>
            </p>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3" id="Row">
      <div class="Column">
        <div [ngSwitch]="num">
          <div *ngSwitchCase="'1'">
            <h1>
            Generate OWL Ontology
            </h1>
                <label for="apikey">Insert your Open AI API key</label>
                <input type="text" id="apikey" placeholder="API Key">
                <label>You don't have an Open API key? Create an account</label>
                <button (click)="openai()" class="button">OpenAI</button>
                <div>
                  <label>Load an abstract</label>
                  <input type="file" (change)="onFileSelected($event)" id="fileInput"/>
                  <button class="button" id="deactivateBtn" (click)="generateFunction(myPrompt.value)">Generate</button>
                </div>

                <textarea placeholder="Type your message here..." #myPrompt></textarea>
                <div class = "abstract" [contentEditable]="true">
                  {{fileContent.toString()}}
                </div>
          </div>
          <div *ngSwitchCase="'2'">
            <h1>
              Knowledge Graph of the Ontology
            </h1>
            <div id="network">
                  <button (click)="visualize()" class="button">View Graph</button>
                  <button (click)="focusGraph()" class="button">Focus Graph</button>
                  <div id="cy" hidden></div>
            </div>
          </div>
          <div *ngSwitchCase="'3'">
          <h1>
            Enhance Ontology
          </h1>
            <div class = "category">
              <h2>Classes</h2>
              <label>Class:</label>
              <input id="class_name" placeholder="Class Name"/><button>+</button><button>-</button>
            </div>
            <div class = "category">
              <h2>Object Properties</h2>
              <div><label>Object Property:</label><input placeholder="Object Property Name"/></div>
              <div><label>Domain:</label><input placeholder="Class Name"/></div>
              <div><label>Range:</label><input placeholder="Class Name"/></div>
            </div>
            <div class = "category">
              <h2>Data Properties</h2>
              <div><label>Data Property:</label><input placeholder="Data Property Name"/></div>
              <div><label>Domain:</label><input placeholder="Class Name"/></div>
              <div><label>Range:</label><input placeholder="Class Name"/></div>
            </div>
            <div class = "category">
              <h2>Individuals</h2>
              <label>Individual:</label><input placeholder="Individual Name"/>
              <label>of Class:</label><input placeholder="Class Name"/>
            </div>
          </div>
          <div *ngSwitchCase="'4'">
            <h1>Metrics on Ontology</h1>
            <h3>Base Metrics</h3>
            <div class="base_metric">
              <p>Axioms: {{baseMetrics.axioms}}</p>
              <p>Logical Axioms Count: {{baseMetrics.logicalAxiomsCount}}</p>
              <p>Class Count: {{baseMetrics.classCount}}</p>
              <p>Anonymous Class Count: {{baseMetrics.anonymousClassCount}}</p>
              <p>Object Property Count: {{baseMetrics.objectPropertyCount}}</p>
              <p>Data Property Count: {{baseMetrics.dataPropertyCount}}</p>
              <p>Individuals Count: {{baseMetrics.individualsCount}}</p>
              <p>DL Expressivity: {{baseMetrics.dlExpresivity}}</p>
              <p>Direct Imports: {{baseMetrics.directImports}}</p>
              <p>Declared Imports: {{baseMetrics.declaredImports}}</p>
              <p>Actual Imports: {{baseMetrics.actualImports}}</p>
            </div>
            <h3>Class Axioms</h3>
            <h3>Object property Axioms</h3>
            <h3>Data property Axioms</h3>
            <h3>Individual Axioms</h3>
            <h3>Annotation Axioms</h3>
          </div>
          <div *ngSwitchCase="'5'">
            <h1>SPARQL Query</h1>
            <div><label>Query:</label><textarea placeholder="Insert query" class="query-box"></textarea></div>
            <div><label>Query Result:</label><div placeholder="Result of the query" class="result-query-box"></div></div>
          </div>
        </div>
      </div>
      <div class="Column container">
            <h1>OWL Ontology</h1>
            <label for="ontologyInput">Load existing ontology</label>
            <input type="file" (change)="onOntologySelected($event)" id="ontologyInput"/>
        <div>
          <button class="button" (click)="validateOntology()">Validate</button>
          <button (click)="downloadFile()" class="button">Download</button>
          <label>Convert: </label>
          <select id="dropdown">
            <option *ngFor="let syntax of ontologyFormatsConverted">{{syntax}}</option>
          </select>
        </div>
          <pre class="prettyprint linenums language-owl" [contentEditable]="true"><code>{{onto}}</code></pre>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Prism JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.js"></script>
<script>
  // Run prettify() function to apply code highlighting and line numbers
  PR.prettyPrint();
</script>


</body>
</html>

<!--  </div>-->
<!--  <div class="labels">-->
<!--    <label>Describe your ontology:</label>-->
<!--    <button class="button" id="deactivateBtn" (click)="generateFunction(myPrompt.value)">Generate</button>-->
<!--    <button class="button" id="clearBtn" (click)="resetFileInput()">Reset</button>-->
<!--    <label class="label2">Generated ontology:</label>-->
<!--    &lt;!&ndash;    <button class="button" (click)="loadOntology()">Protege</button>&ndash;&gt;
    <button class="button" (click)="validateOntology()">Validate</button>-->
<!--    <button (click)="downloadFile()" class="button">Download</button>-->
<!--    <label class="label2">Convert to:</label>-->
<!--    <select id="dropdown">-->
<!--      <option *ngFor="let syntax of ontologyFormatsConverted">{{syntax}}</option>-->
<!--    </select>-->

<!--  </div>-->
<!--  <img src="/assets/images/loading2.gif" alt="load" id="myImg"/>-->
<!--  <div class="modify_ontology">-->
<!--    <p></p>-->
<!--    <button class="button" (click)="class()">class</button>-->
<!--    <button class="button" (click)="op()">object property</button>-->
<!--    <button class="button" (click)="dp()">data property</button>-->
<!--    <button class="button" (click)="individual()">individual </button>-->
<!--  </div>-->
<!--  <div class="grid-container">-->

<!--    <div class="input-box">-->
<!--      <textarea placeholder="Type your message here..." #myPrompt></textarea>-->
<!--    </div>-->
<!--    <div class="output-box" [contentEditable]="true" aria-placeholder="The ontology will be generated here">-->
<!--       <pre #pre>-->
<!--         {{onto}}-->
<!--       </pre>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class = "load">-->
<!--  <p>Load existing ontology</p>-->
<!--  <input type="file" (change)="onOntologySelected($event)" id="ontologyInput"/>-->
<!--  </div>-->

<!--</div>-->

